.App {
  text-align: center;
}
.tabHeader {
  color: #10e9e9;
  font-size: 3rem;
  font-weight: 400;
  align-content: flex-end;
  height: 15vh;
  background-image: linear-gradient(to bottom right, rgb(28, 143, 189), rgba(42, 42, 153, 0.842));
}

.btnEditor {
  margin: 3px;
}
#edit-button {
  width: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#edit-button svg {
  width: 19px;
  height: 22px;
  color: rgb(71, 149, 212);
}
#noteHeader {
  widows: 20%;
  padding: 10px;
}
#delete-button {
  width: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#delete-button svg {
  width: 17px;
  height: 17px;
  color: rgb(204, 63, 58);
}

.allNote {
  /* border: #c1c8ca; */
  background-color: #d4d2d29c;
  margin: 0 20 20 20;
  padding: 0px;
}
.allNote li {
  display: flex;
  text-decoration: none;
  flex-flow: wrap;
  justify-content: space-between;
}
.noteList {
  display: box;
  width: 100%;
  justify-content: space-around;
}
/* .ListGroup.Item {
  display: flex;
  justify-content: space-between;
} */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.flex-item {
  width: 100px;
}
.saveBtn {
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.createBtn {
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.searchTab {
  width: 100%;
  padding: 20;
  margin: 20;
  align-items: center;
  text-align: end;
}

.editNote {
  box-sizing: border-box;
  border: #3a3e3f;
  background-color: #a9d6f5d5;
  margin: 10 20 20 20px;
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media only screen and (max-width: 700px) {
  .tabHeader {
    font-size: 2em;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
