.App {
  text-align: center;
}
.tabHeader {
  color: #10e9e9;
  font-size: 3rem;
  font-weight: 400;
  align-content: flex-end;
  height: 20vh;
  background-image: linear-gradient(to bottom right, rgb(28, 143, 189), rgba(42, 42, 153, 0.842));
}
.searchTab {
  text-align: center;
}
.btnEditor {
  margin: 3px;
}
.allNote {
  border: #3a3e3f;
  background-color: #ceddd3d5;
  margin: 10 20 20 20px;
  padding: 10px;
}
.noteList {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.flex-item {
  width: 100px;
}
.saveBtn {
  width: 100%;
  padding: 10px;
  margin: 10;
}
.allNote li {
  display: block;
  text-decoration: none;
  flex-flow: wrap;
}
.editNote {
  box-sizing: border-box;
  border: #3a3e3f;
  background-color: #a9d6f5d5;
  margin: 10 20 20 20px;
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media only screen and (max-width: 700px) {
  .tabHeader {
    font-size: 2em;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
